{% extends "base.html.twig" %}

{% set page_metatitle = "Blog da #{site.name}" %}
{% set page_metadescription = 'saiba o que estamos fazendo no dia a dia aqui no blog' %}

{% set ogtype='blogindex' %}

{% block main %}

<nav aria-label="breadcrumb">
	<ol>
		<li><a href="/" title="Página inicial Miaversa">Miaversa</a></li>
		<li aria-current="page">Blog</li>
	</ol>
</nav>

<h1>blog index todo</h1>

{% for p in posts %}

<div class="pa3 ph6-ns bb b--black-10">
<h2><a href="{{urls.relativePostURL(p)}}" title="{{p.description}}">{{ p.title }}</a></h2>
{{ p.summary|raw }}
<p><a href="{{urls.relativePostURL(p)}}" title="{{p.description}}">continue lendo</a></p>
</div>

{% endfor %}

{% endblock %}
