<!doctype html>
<html lang="pt-BR" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8" />
	<title>{{page_metatitle}}</title>
	<meta name="description" content="{{page_metadescription}}" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% include 'components/open_graph.html.twig' %}
{% include 'components/twitter.html.twig' %}
{% include 'components/ld.html.twig' %}
	<meta name="robots" content="index, follow" />
	<style>
	body{color:#333;}
	</style>
	<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics}}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{site.analytics}}');
	</script>
</head>

<body class="aspect-ratio--7x5-l black pa1">

<h1 class="mv0 dim"><a href="/">{{site.name}}</a></h1>

{% include 'components/menu.html.twig' %}

{% block main %}
{% endblock %}

</body>
</html>
