<!doctype html>
<html lang="pt-BR" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8" />
	<title>{{page_metatitle}}</title>
	<meta name="description" content="{{page_metadescription}}" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% include 'components/open_graph.html.twig' %}
{% include 'components/twitter.html.twig' %}
{% include 'components/ld.html.twig' %}
	<meta name="robots" content="index, follow" />
	<style>
	body{color:#333;}
	</style>
	<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics}}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{site.analytics}}');
	</script>
</head>

<body class="w-100 sans-serif">

<header class="bb b--black-10 w-100 pa2 ph2 ph4-ns bg-white">
	<div class="db dt-ns mw9 center w-100">
		<h1 class="db dtc-ns v-mid tl w-50 mt0"><a class="dib f5 f4-ns fw6 mt0 mb1 link black-70" href="/">{{site.name}}</a></h1>
		<nav class="db dtc-ns v-mid w-100 tl tr-ns mt0">
			<a title="Sobre a Miaversa" href="/sobre/" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">Sobre</a>
			<a title="Nosso Blog" href="/blog/" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">Blog</a>
			<a title="Tire suas dúvidas na página de perguntas frequentes" href="/perguntas-frequentes/" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">FAQ</a>
			<a title="Carrinho de compras" href="{{urls.cartURL()}}" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dn dib-l">Carrinho</a>
		</nav>
	</div>
</header>

<main class="overflow-auto bg-white">

{% block main %}
{% endblock %}

</main>

</body>
</html>
