{% extends "base.html.twig" %}
{% set page_metatitle = "#{site.name} #{collection.name}" %}
{% set page_metadescription = collection.description %}
{% set ogtype='collection' %}



{% block main %}

<h1>{{ collection.name }}</h1>
<h3>Ordem</h3>

{#
<select name="ordem" onchange="window.location = this.value">
	<option value="{{urls.relativeCollectionURL(collection, type, null)}}">Ordenacao padrao</option>
	<option value="{{urls.relativeCollectionURL(collection, type, 'mais-novos')}}">Ordenar por mais novos</option>
	<option value="{{urls.relativeCollectionURL(collection, type, 'mais-baratos')}}">Ordenar por preco: menor para maior</option>
	<option value="{{urls.relativeCollectionURL(collection, type, 'mais-caros')}}">Ordenar por preco: maior para menor</option>
</select>
#}

{% if order %}
<p>ordem atual: {{order.slug}}</p>
{% endif %}

<ul>
	<li><a href="{{urls.relativeCollectionURL(collection, type, null)}}">Ordenacao padrao</a>
	<li><a href="{{urls.relativeCollectionURL(collection, type, 'mais-novos')}}">Ordenar por mais novos</a>
	<li><a href="{{urls.relativeCollectionURL(collection, type, 'mais-baratos')}}">Ordenar por preco: menor para maior</a>
	<li><a href="{{urls.relativeCollectionURL(collection, type, 'mais-caros')}}">Ordenar por preco: maior para menor</a>
</ul>

<hr />

{% if type %}
<p>filtro atual: {{type.name}}</p>
{% endif %}

<h3>Filtros</h3>
<ul>
	<li><a href="{{urls.relativeCollectionURL(collection, null, order)}}">Todos</a></li>
	{% for t in types %}
	<li><a href="{{urls.relativeCollectionURL(collection, t, order)}}">{{ t.name }}</a></li>
	{% endfor %}
</ul>

<hr />

<h3>Produtos</h3>
<ul>
{% for p in products %}
	<li><a href="{{urls.relativeProductURL(p)}}">{{p.name}}</a></li>
{% endfor %}
</ul>

{% endblock %}
