{% extends "base.html.twig" %}
{% set page_metatitle = "#{site.name} | #{product.name}" %}
{% set page_metadescription = product.description %}
{% set ogtype='product' %}

{% block main %}

	<section class="center pa3 cf">
		<nav aria-label="breadcrumb">
			<ol class="db ma0 pa0">
				<li class="list di f7"><a class="black-70" href="/" title="Página inicial Miaversa">Miaversa</a></li>
				<li class="list di bc f7"><a class="black-70" href="{{urls.simpleCollectionURL(product)}}" title="Coleção x">colecao aqui</a></li>
				<li class="list di bc f7"><a class="black-70" href="{{urls.simpleCollectionURL(product)}}" title="Coleção x">tipo aqui</a></li>
				<li class="list di bc f7" aria-current="page">{{ product.name }}</li>
			</ol>
		</nav>

		<article class="mv3">
			<div>
				<main>
					<div class="ba br1 pa2 b--black-10">
						<a href="/images/produtos/anel-b/anel-b-1.jpg">
							<img class="w-100 br1 ma0 pa0" src="/images/produtos/anel-b/anel-b-1-original.jpg" />
						</a>
					</div>

					<div class="cf mt2">
						<div class="fl w-third pa1">
							<div class="ba br1 pa1 b--black-10">
								<a href="/images/produtos/anel-b/anel-b-1.jpg">
								<img class="w-100 br1 ma0 pa0" src="/images/produtos/anel-b/anel-b-1.jpg" />
								</a>
							</div>
						</div>
						<div class="fl w-third pa1">
							<div class="ba br1 pa1 b--black-10">
								<a href="/images/produtos/anel-b/anel-b-1.jpg">
								<img class="w-100 br1 ma0 pa0" src="/images/produtos/anel-b/anel-b-1.jpg" />
								</a>
							</div>
						</div>
						<div class="fl w-third pa1">
							<div class="ba br1 pa1 b--black-10">
								<a href="/images/produtos/anel-b/anel-b-1.jpg">
								<img class="w-100 br1 ma0 pa0" src="/images/produtos/anel-b/anel-b-1.jpg" />
								</a>
							</div>
						</div>
					</div>

					<h2>{{ product.name }}</h2>

					<div>
						<form method="post" action="{{urls.cartURL()}}">
							<input type="hidden" name="action" value="add">
							<input type="hidden" name="product[sku]" value="{{product.sku}}" />
							<input type="hidden" name="product[name]" value="{{product.name}}" />
							<input type="hidden" name="product[price]" value="{{product.price}}" />
							<input type="hidden" name="product[sign]" value="{{product.sign}}" />
							<p class="fw9 purple tr">R$ {{product.price|number_format(2, ',', '.')}}
							<button class="purple b ph3 pv2 input-reset ba b--purple bg-transparent grow pointer f6 dib" type="submit">Comprar</button></p>
						</form>
					</div>

					<div>
						{{product.content|raw}}
					</div>

				</main>
			</div>
		</article>
	</section>

{% endblock %}
