{% extends "base.html.twig" %}
{% set page_metatitle = "#{site.name} | #{product.name}" %}
{% set page_metadescription = product.description %}
{% set ogtype='product' %}



{% block main %}

<nav aria-label="breadcrumb">
	<ol class="db">
		<li class="list di"><a href="/" title="Página inicial Miaversa">Miaversa</a></li>
		<li class="list di bc"><a href="{{urls.simpleCollectionURL(product)}}" title="Coleção x">colecao aqui</a></li>
		<li class="list di bc"><a href="{{urls.simpleCollectionURL(product)}}" title="Coleção x">tipo aqui</a></li>
		<li class="list di bc" aria-current="page">{{ product.name }}</li>
	</ol>
</nav>

<header class="pb3 mb3">
	<div class="ph3 ph5-ns">
		<h2 class="ttu tracked f4">{{ product.name }}</h2>
	</div>
</header>

<div class="ph3 ph5-ns">
<p>Valor: R$ {{product.price|number_format(2, ',', '.')}}</p>

<form method="post" action="{{urls.cartURL()}}">
	<input type="hidden" name="action" value="add">
	<input type="hidden" name="product[sku]" value="{{product.sku}}" />
	<input type="hidden" name="product[name]" value="{{product.name}}" />
	<input type="hidden" name="product[price]" value="{{product.price}}" />
	<input type="hidden" name="product[sign]" value="{{product.sign}}" />
	<input type="submit" value="Comprar" />
</form>

{{product.content|raw}}

</div>

{% endblock %}
